* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* shared */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;

}

.btn2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
}

.heading {
    justify-items: center;
}

.heading h1 {
    padding-top: 60px;
    font-size: 48px;
    align-items: center;
    line-height: 58px;
}

.heading p {
    padding-top: 16px;
    align-items: center;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
.red-class{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 360px;
    padding: 14px;
}
/* main */

header {
    background-color: #FFFFFF;
    padding-top: 16px 0;

}

nav {
    margin: 24px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 140px;
    height: 60px;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

#banner {
    /* border: 1px solid red; */
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;

    vertical-align: middle;

}

#banner .banner-content {
    padding: 115px 120px 180px 120px;
    justify-items: center;
}

.banner-content .banner-title {
    background-color: #FFFFFF;
    height: 35px;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.banner-content .banner-title p {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.banner-title .circle-1 {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #aedfc3;
    padding: 2px;
}

.banner-title .circle-1 .circle-2 {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: #76cc9a;
    padding: 3px;
}

.banner-title .circle-1 .circle-2 .circle-3 {
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background-color: #30B868;
}

.banner-content h1 {
    margin: 16px 295px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;

}

.banner-content h1 .green-color {
    color: #30B868;
}

.banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: auto;
    color: #FFFFFF;
}

.banner-content .banner-btn {
    margin: 32px 0 0 0;
    display: flex;
    gap: 16px;
}

#note .note-container {
    margin: 0 120px 120px 120px;
    justify-items: center;
}
#note .note-container .note-info{
        display: flex;
        margin-top: 44px;
        gap: 24px;

    justify-content: space-around;
}
#note .note-container .note-info .info-card {
        /* border: 1px solid red; */
        justify-items: center;
        padding: 70px 24px;
        border-radius: 8px;  
        max-width: 322px;
        box-shadow: 0 6px 40px 0 #00000019;  
}

#note .note-container .note-info .info-card div{
   margin-bottom: 16px;
}
#note .note-container .note-info .info-card h3{
   font-size: 24px;
   text-align: center;
   font-weight: 600;
   line-height: 29px;


}
 .note-info .info-card p{
    padding-top: 16px;
    text-align: center;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}


#solution{
    /* background-color: #76cc9a; */
 justify-items: center;
 /* padding: 120px; */
  margin: 120px;
}

#solution .sol-container{
  width: 1360px;
}

#solution .sol-container .sol-info{
 display: flex;
 gap: 60px;
 align-items: center;

}
.sol-info .info-elements .title{
 color: #30B868;
 padding-bottom: 16px;
 font-weight:500;
 line-height: 20px;

}

.sol-info .info-elements .info-heading h1{
    font-size: 48px;
    align-items: center;
    line-height: 58px;
    padding-bottom: 16px;
}
.sol-info .info-elements .info-heading p{
    align-items: center;
    color: #627382;
    line-height: 20px;
}
.sol-info .info-elements .info-checkmark{
    padding-top: 40px;
}
.sol-info .info-elements .info-checkmark .points{
  display: flex;
  gap: 6px;
  padding-bottom: 16px;
}